<!doctype html>
<html lang="en">

<head>
    <title>Edit Academic</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
          integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />

    <!-- Custome css -->
    <link rel="stylesheet" href="/css/edit-academic.css">
</head>

<body>
<div id="app">
    <div class="container edit-academic-container">
        <div class="row back">
            <a href="/html/list-view-academic.html">
                <p><i class="fas fa-chevron-left mr-1"></i>Back</p>
            </a>
        </div>
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Academic</a></li>
                    <li class="breadcrumb-item icon-next" aria-current="page">Edit Academic</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="card text-center">
                <div class="card-header title">
                    Edit Academic
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group text-label-left">
                            <label for="exampleInputEmail1">Academic name</label>
                            <input type="text" class="form-control" id="academic-id"
                                   aria-describedby="academic-help" placeholder="Enter Academic name">
                        </div>
                        <div class="form-group text-label-left">
                            <label for="Status">Status</label>
                            <div class="col-sm-3 status">
                                <select class="form-control">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                            <!-- <input type="text" class="form-control" id="Status" placeholder=""> -->
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <button type="submit" class="w-25 p-1 btn btn-primary fa-pull-right">Updates</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>